*{
  font-family: roboto;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  margin: 0;
}

.stuff-container{
  overflow: hidden;
  width: min-content;

  transition: all 5.5s ease-in-out;
}
.stuff-container[closed]{
  /* width: 0%; */
}
.stuff-container[closed]>*{
  display: none;
}