.bg {
  background-color: F8F8F8;
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

body {
  overflow-y: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-row.unspaced {
  justify-content: flex-start;
}

.flex-column {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-column.unspaced {
  justify-content: left;
}

.stuff-container {
  overflow: hidden;
  width: min-content;

  transition: all 5.5s ease-in-out;
}
.stuff-container[closed] {
  /* width: 0%; */
}
.stuff-container[closed] > * {
  display: none;
}
