.bg{
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-column{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  overflow-y: hidden;
}