div{
  --card-bg-color: #F9F9F9;
  --component-primary: #FFFFFF;
  --logo-size: 30vh;
  --font: roboto;
}

.u-logo-bg{
  background-color: var(--component-primary);
  border-radius: 100%;
  width: var(--logo-size);
  user-select: none;
  margin: 1vh;

  padding: 1vh;

}

.u-logo{
  width: 100%;
  user-select: none;
  display: inline-block;
}

.u-button{
  padding: 0.25vh 1em;
  background-color: var(--component-primary);
  border-radius: 25vh;
  display: inline-block;
  margin: 0.5vh;
}

.u-button-label{
  line-height: 0;
  text-align: justify;
  font-size: 1em;
  font-family: var(--font);
  user-select: none;
}

.u-flat-button{
  padding: 0.25vh 1vw 0.25vh 1vw;
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  margin: 0.5vh;
}

.u-flat-button:active{
  background-color: var(--component-primary);
}

.u-flat-button-label{
  line-height: 0;
  text-align: justify;
  font-family: var(--font);
  user-select: none;
}

.u-text-field{
  border-width: 0;
  outline-width: 0;
  border-radius: 25vh;
  padding: 10px;
  font-size: 1.5em;
  margin: 0.75vh;
  /* The font family on this element doesn't like variables for some reason */
  font-family: roboto; 
  overflow: hidden;
  text-align: center;
}

.u-card{
  background-color: var(--card-bg-color);
  border-radius: 25px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-shadowed{
  box-shadow: 1px 1px 6px grey;
}

.responsive{
  transition: all 0.05s ease-in-out;

  -webkit-font-smoothing: antialiased;
}

.responsive:hover{

  transform: scale(1.1);

}

.responsive:active{

  transform: scale(0.9);

}

.mildly-responsive{
  transition: all 0.05s ease-in-out;

  -webkit-font-smoothing: antialiased;
}

.mildly-responsive:hover{

  transform: scale(1.025);
}

.mildly-responsive:active{

  transform: scale(0.975);

}

.slightly-responsive{
  transition: all 0.05s ease-in-out;

  -webkit-font-smoothing: antialiased;
}

.slightly-responsive:hover{

  transform: scale(1.01);
}